<p>data-binding works!</p>
<h1>The name from TS file is {{name}} - String interpolation</h1>
<h1 [style]="style">New Styles - changing property of h1 uisng property binding</h1>

<h1>Event Binding</h1>
<input type="text" (input)="handleInputChange($event)" />
<hr />
<!-- <input type="text" value="defaultValue" (input)="handleChange($event)"/> -->
<input type="text" [(ngModel)]="twoWayBindValue" />
<span [ngClass]="{
    styleRed : twoWayBindValue!=='submitted',
    styleGreen: twoWayBindValue==='submitted',
    }">

{{twoWayBindValue}}</span>
<br/>
<span [ngStyle]="{
    color : twoWayBindValue!=='submitted' ? 'violet' : 'green',
    }">

{{twoWayBindValue}}</span>


<br />
<button type="submit" [disabled]="shouldEnable" (click)="handleClick()"> Submit </button>

<p *ngIf="twoWayBindValue==='submitted'"> You have finally writted Submit!, click the button now</p>
<p *ngIf="twoWayBindValue!=='submitted'"> Please try another text</p>

<li *ngFor="let i of numbers">{{i}}</li>

<!-- <div [ngSwitch]="twoWayBindValue">
    <p *ngSwitchCase="defaulty">Try entering any text</p>
    <p *ngSwitchCase="">please dont leave empty</p>
</div> -->